.*.swp
.*.swo
._*
.DS_Store
/ImgCache/
/Backup_rar/
/Debug/
/debug/
/upload/
/avatar/
/.idea/
.svn/
*.orig
*.aps
*.APS
*.chm
*.exp
*.pdb
*.rar
*.mo
*.po
*.pot
!usr/langs/
!usr/langs/en_US.mo
.smbdelete*
*.sublime*
.sass-cache
config.rb
prepros.config
config.inc.*
usr/uploads/
usr/cache/
usr/*.db
usr/plugins/*
!usr/plugins/AppMarket/
!usr/plugins/AppMarket/**
usr/themes/*
!usr/themes/default
!usr/themes/classic-22
node_modules/
tools/tmp/
usr/plugins/
