/**
 * Footer
 */

.typecho-foot {
  width: 100%;
  padding: 48px 18px 34px;
  color: $color-text-weak;
  font-size: 13px;
  line-height: 1.8;
  text-align: center;

  .copyright p {
    margin: 0;
  }

  .resource {
    margin-top: 4px;
    color: $color-border-strong;
  }

  .resource a {
    margin: 0 4px;
    color: $color-text-weak;

    &:hover,
    &:focus {
      color: $color-text-muted;
    }
  }
}
